@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --mobile-card-width: 87%;
  --search-button-color: #0079ff;
  --breakpoint-tablet: 768px;
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

* {
  font-family: "Space Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

body,
body[data-theme="light"] {
  --color-text-primary: #4b6a9b;
  --color-text-secondary: #697c9a;
  --color-text-header: #222731;
  --color-accent-primary: #0079ff;
  --color-text-title: #2b3442;
  --color-bg-main: #f6f8ff;
  --color-bg-card: #fefefe;
  --color-bg-toggle: #697c9a;
}

body[data-theme="dark"] {
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-header: #ffffff;
  --color-accent-primary: #0079ff;
  --color-bg-main: #141d2f;
  --color-bg-card: #1e2a47;
  --color-bg-toggle: #ffffff;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}

h1 {
  color: var(--color-text-header);
}
/* 
body,
body[data-theme="light"] {
  --color-text-primary: #4B6A9B;
  --color-text-secondary: #2B3442;
  --color-text-tertiary: #697C9A;
  --color-bg-primary: #F6F8FF;
  --color-bg-secondary: #FEFEFE;
  --color-bg-toggle: #1e90ff;
}

body[data-theme="dark"] {
  --color-text-primary: #0079FF;
  --color-text-secondary: #FFFF;
  --color-bg-primary: #F6F8FF;
  --color-bg-toggle: #1E2A47;
} */
